<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyB1N_jkdNmE0FvrsY67GKJtR4-tMMPaWsk",
    authDomain: "undwa-c6f43.firebaseapp.com",
    projectId: "undwa-c6f43",
    storageBucket: "undwa-c6f43.appspot.com",
    messagingSenderId: "743713469474",
    appId: "1:743713469474:web:15bb31cfd14ef06599467b"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
</script>